@import "reset";
/* Start variables */
$background__discount: hsl(14, 92%, 95%);
$background__main: hsl(230, 100%, 99%);
$background__pricingComponent: hsl(0, 0%, 100%);
$background__textAndCta: hsl(227, 35%, 25%);
$background__toggle: hsl(223, 50%, 87%);
$sliderBar__background: hsl(174, 86%, 45%);
$sliderBar__empty: hsl(224, 65%, 95%);
$sliderBar__full: hsl(174, 77%, 80%);
$text__cta: hsl(226, 100%, 87%);
$text__discount: hsl(15, 100%, 70%);
$text: hsl(225, 20%, 60%);

@mixin mobile {
  @media screen and (max-width: 565px) {
    @content;
  }
}
/* End variables */

html {
  background-color: #e2e2eb;
  color: $text;
  font-size: 15px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
}

.full-wrap {
  background: url("../images/bg-pattern.svg") no-repeat;
  background-color: $background__main;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.05);
}

.cta {
  text-align: center;
  padding-top: 100px;
  position: relative;
  width: 550px;
  @include mobile {
    width: 100%;
  }
  &__pattern {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 40%);
    top: 0;
    z-index: 1;
  }
  &__title {
    color: $background__textAndCta;
    font-size: 1.75rem;
    font-weight: 800;
    letter-spacing: 0.5px;
    margin-bottom: 25px;
    position: relative;
    z-index: 5;
    @include mobile {
      font-size: 1.5rem;
    }
  }
  &__subtitle {
    position: relative;
    z-index: 5;
    @include mobile {
      line-height: 2rem;
      margin: 0 auto;
      width: 200px;
    }
  }
}

.card {
  background: $background__pricingComponent;
  border-radius: 8px;
  height: 100%;
  margin-top: 125px;
  width: 550px;
  -webkit-box-shadow: 0px 10px 20px 0px hsla(227, 35%, 25%, 0.1);
  -moz-box-shadow: 0px 10px 20px 0px hsla(227, 35%, 25%, 0.1);
  box-shadow: 0px 10px 20px 0px hsla(227, 35%, 25%, 0.1);
  @include mobile {
    margin-top: 50px;
    width: 375px;
  }
  &__top {
    display: flex;
    flex-wrap: wrap;
    padding: 60px 50px 0;
    @include mobile {
      align-items: center;
      flex-direction: column;
      padding: 40px 20px 0px;
    }
    .views,
    .price {
      align-items: center;
      display: flex;
      width: 50%;
      @include mobile {
        width: 100%;
      }
    }
    .views {
      font-size: 0.9rem;
      letter-spacing: 2px;
      text-transform: uppercase;
      @include mobile {
        justify-content: center;
      }
    }
    .price {
      justify-content: flex-end;
      letter-spacing: 0.5px;
      text-align: right;
      @include mobile {
        justify-content: center;
        margin-bottom: 40px;
        order: 3;
      }
      .price__value {
        color: $background__textAndCta;
        font-size: 2.75rem;
        font-weight: 800;
        margin-right: 5px;
        @include mobile {
          font-size: 2.5rem;
        }
      }
    }
    .slider-wrapper {
      margin: 50px 0;
      width: 100%;
      @include mobile {
        order: 2;
      }
      .slider {
        -webkit-appearance: none;
        appearance: none;
        background: $sliderBar__full;
        border-radius: 4px;
        height: 7px;
        outline: none;
        width: 100%;
        &::-webkit-slider-thumb {
          -webkit-appearance: none;
          background: url("/images/icon-slider.svg") no-repeat;
          background-size: 25px 15px;
          background-position: 7px center;
          background-color: $sliderBar__background;
          border-radius: 50%;
          border: none;
          height: 40px;
          outline: none;
          position: relative;
          width: 40px;
        }
        &::-moz-range-thumb {
          -webkit-appearance: none;
          background: url("/images/icon-slider.svg") no-repeat;
          background-size: 25px 15px;
          background-position: 7px center;
          background-color: $sliderBar__background;
          border-radius: 50%;
          border: none;
          height: 40px;
          outline: none;
          position: relative;
          width: 40px;
        }
        &::-webkit-slider-thumb:hover,
        &::-webkit-slider-thumb:active {
          -webkit-box-shadow: 0px 15px 25px -8px rgba(16, 213, 194, 1);
          box-shadow: 0px 15px 25px -8px rgba(16, 213, 194, 1);
        }
        &::-moz-range-thumb:hover,
        &::-moz-range-thumb:active {
          -moz-box-shadow: 0px 15px 25px -8px rgba(16, 213, 194, 1);
          box-shadow: 0px 15px 25px -8px rgba(16, 213, 194, 1);
        }
        &::-webkit-slider-thumb:hover {
          background-color: #7aeade;
          cursor: -webkit-grab;
        }
        &::-moz-range-thumb:hover {
          background-color: #7aeade;
          cursor: -moz-grab;
        }
        &::-webkit-slider-thumb:active {
          background-color: darken($sliderBar__background, 10%);
          cursor: -webkit-grabbing;
        }
        &::-moz-range-thumb:active {
          background-color: darken($sliderBar__background, 10%);
          cursor: -moz-grabbing;
        }
      }
    }
    .toggle-wrapper {
      align-items: center;
      display: flex;
      justify-content: center;
      margin: 0 auto 50px;
      position: relative;
      width: 70%;
      @include mobile {
        order: 4;
        width: 100%;
      }
      .toggle-label {
        font-size: 0.8rem;
        letter-spacing: 0.5px;
      }
      label {
        height: 20px;
        margin: 0 1.2rem;
        position: relative;
        width: 45px;
        input {
          appearance: none;
          bottom: 0;
          display: block;
          height: 100%;
          left: 0;
          margin: 0;
          max-width: 100%;
          outline: 0;
          position: absolute;
          right: 0;
          top: 0;
          width: 100%;
        }
        span {
          align-items: center;
          background: $background__toggle;
          border-radius: 12px;
          bottom: 0;
          cursor: pointer;
          display: flex;
          left: 0;
          position: absolute;
          right: 0;
          top: 0;
          &:before {
            background-color: $background__pricingComponent;
            border-radius: 50%;
            content: "";
            cursor: pointer;
            height: 14px;
            left: 0.25rem;
            position: absolute;
            top: 3px;
            transition: all 0.2s ease-out;
            width: 14px;
          }
          &:hover {
            background: $sliderBar__full;
          }
        }
        input:checked + span:before {
          left: calc(100% - 14px - 0.25rem);
        }
      }
      .discount {
        color: $text__discount;
        display: inline;
        font-size: 0.65rem;
        position: absolute;
        right: -20px;
        top: 3px;
        width: 50px;
        .desktop,
        .mobile {
          background-color: $background__discount;
          position: absolute;
        }
        .desktop {
          border-radius: 8px;
          right: -30px;
          padding: 4px 6px;
        }
        .mobile {
          border-radius: 12px;
          display: none;
          padding: 6px 10px;
          right: 10px;
          top: -3px;
        }
        @include mobile {
          .desktop {
            display: none;
          }
          .mobile {
            display: inline;
          }
        }
        &.show {
          display: block;
        }
      }
    }
  }
  &__bottom {
    border-top: 1px solid $sliderBar__empty;
    display: flex;
    padding: 20px 50px;
    @include mobile {
      flex-direction: column;
      align-items: center;
    }
    .perks,
    .ctaBtn-wrapper {
      width: 50%;
      @include mobile {
        text-align: center;
        width: 70%;
      }
    }
    .perks {
      display: flex;
      flex-direction: column;
      font-size: 0.8rem;
      height: 90px;
      letter-spacing: 0.5px;
      justify-content: space-around;
      @include mobile {
        margin-bottom: 20px;
        font-size: 0.95rem;
      }
      .perk {
        position: relative;
        padding-left: 20px;
        width: 100%;
        &:before {
          background: $sliderBar__full;
          background: url("/images/icon-check.svg") no-repeat;
          content: "";
          height: 15px;
          left: 0;
          position: absolute;
          top: 2px;
          width: 15px;
        }
        @include mobile {
          padding-left: 0;
        }
      }
    }
    .ctaBtn-wrapper {
      align-items: center;
      display: flex;
      justify-content: flex-end;
      @include mobile {
        justify-content: center;
      }
      .btn {
        background: $background__textAndCta;
        border-radius: 22px;
        color: $text__cta;
        cursor: pointer;
        font-size: 0.85rem;
        padding: 15px 45px;
        text-align: center;
        &:hover {
          color: $background__pricingComponent;
        }
      }
    }
  }
}
