@import "reset";
/* Start variables */
$background__discount: hsl(14, 92%, 95%);
$background__main: hsl(230, 100%, 99%);
$background__pricingComponent: hsl(0, 0%, 100%);
$background__textAndCta: hsl(227, 35%, 25%);
$background__toggle: hsl(223, 50%, 87%);
$sliderBar__background: hsl(174, 86%, 45%);
$sliderBar__empty: hsl(224, 65%, 95%);
$sliderBar__full: hsl(174, 77%, 80%);
$text__cta: hsl(226, 100%, 87%);
$text__discount: hsl(15, 100%, 70%);
$text: hsl(225, 20%, 60%);
/* End variables */

html {
  background-color: #e2e2eb;
  color: $text;
  font-size: 15px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
}

.full-wrap {
  background: url("../images/bg-pattern.svg") no-repeat;
  background-color: $background__main;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.05);
}

.cta {
  text-align: center;
  padding-top: 100px;
  position: relative;
  width: 550px;
  &__pattern {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 40%);
    top: 0;
    z-index: 1;
  }
  &__title {
    color: $background__textAndCta;
    font-size: 1.75rem;
    font-weight: 800;
    letter-spacing: 0.5px;
    margin-bottom: 25px;
    position: relative;
    z-index: 5;
  }
  &__subtitle {
    position: relative;
    z-index: 5;
  }
}

.card {
  background: $background__pricingComponent;
  border-radius: 8px;
  height: 100%;
  margin-top: 125px;
  padding: 60px 50px;
  width: 550px;
  &__top {
    display: flex;
    flex-wrap: wrap;
    .views,
    .price {
      align-items: center;
      display: flex;
    }
    .views {
      font-size: 0.9rem;
      letter-spacing: 2px;
      text-transform: uppercase;
      width: 50%;
    }
    .price {
      justify-content: flex-end;
      letter-spacing: 0.5px;
      text-align: right;
      width: 50%;
      .em {
        color: $background__textAndCta;
        font-size: 2.75rem;
        font-weight: 800;
        margin-right: 5px;
      }
    }
    .slider {
      background: $sliderBar__full;
      border-radius: 4px;
      height: 7px;
      margin: 50px 0;
      width: 100%;
    }
    .toggle-wrapper {
      align-items: center;
      display: flex;
      justify-content: center;
      margin: 0 auto;
      position: relative;
      width: 70%;
      .toggle-label {
        font-size: 0.8rem;
        letter-spacing: 0.5px;
      }
      label {
        height: 20px;
        margin: 0 1.2rem;
        position: relative;
        width: 45px;
        input {
          appearance: none;
          bottom: 0;
          display: block;
          height: 100%;
          left: 0;
          margin: 0;
          max-width: 100%;
          outline: 0;
          position: absolute;
          right: 0;
          top: 0;
          width: 100%;
        }
        span {
          align-items: center;
          background: $background__toggle;
          border-radius: 12px;
          bottom: 0;
          cursor: pointer;
          display: flex;
          left: 0;
          position: absolute;
          right: 0;
          top: 0;
          &:before {
            background-color: $background__pricingComponent;
            border-radius: 50%;
            content: "";
            cursor: pointer;
            height: 14px;
            left: 0.25rem;
            position: absolute;
            top: 3px;
            transition: all 0.2s ease-out;
            width: 14px;
          }
        }
        input:checked + span:before {
          left: calc(100% - 14px - 0.25rem);
        }
      }
      .discount {
        background-color: $background__discount;
        border-radius: 8px;
        color: $text__discount;
        font-size: 0.65rem;
        padding: 4px 6px;
        position: absolute;
        right: -50px;
      }
    }
  }
  &__bottom {
    // display: flex;
    display: none;
    .perks {
      display: flex;
      flex-direction: column;
    }
    .ctnBtn {
    }
  }
}
