html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Start variables */
/* End variables */
html {
  background-color: #e2e2eb;
  color: #858fad;
  font-size: 15px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
}

.full-wrap {
  background: url("../images/bg-pattern.svg") no-repeat;
  background-color: #fafbff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.05);
}

.cta {
  text-align: center;
  padding-top: 100px;
  position: relative;
  width: 550px;
}

.cta__pattern {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 40%);
          transform: translate(-50%, 40%);
  top: 0;
  z-index: 1;
}

.cta__title {
  color: #293356;
  font-size: 1.75rem;
  font-weight: 800;
  letter-spacing: 0.5px;
  margin-bottom: 25px;
  position: relative;
  z-index: 5;
}

.cta__subtitle {
  position: relative;
  z-index: 5;
}

.card {
  background: white;
  border-radius: 8px;
  height: 100%;
  margin-top: 125px;
  width: 550px;
  -webkit-box-shadow: 0px 10px 20px 0px rgba(41, 51, 86, 0.1);
  box-shadow: 0px 10px 20px 0px rgba(41, 51, 86, 0.1);
}

.card__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 60px 50px 0;
}

.card__top .views,
.card__top .price {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card__top .views {
  font-size: 0.9rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  width: 50%;
}

.card__top .price {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  letter-spacing: 0.5px;
  text-align: right;
  width: 50%;
}

.card__top .price .price__value {
  color: #293356;
  font-size: 2.75rem;
  font-weight: 800;
  margin-right: 5px;
}

.card__top .slider-wrapper {
  margin: 50px 0;
  width: 100%;
}

.card__top .slider-wrapper .slider {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background: #a5f3eb;
  border-radius: 4px;
  height: 7px;
  outline: none;
  width: 100%;
}

.card__top .slider-wrapper .slider::-webkit-slider-thumb, .card__top .slider-wrapper .slider::-moz-range-thumb {
  background: url("/images/icon-slider.svg") no-repeat;
  background-size: 25px 15px;
  background-position: 7px center;
  background-color: #10d5c2;
  border-radius: 50%;
  border: none;
  height: 40px;
  outline: none;
  position: relative;
  width: 40px;
}

.card__top .slider-wrapper .slider::-webkit-slider-thumb:hover, .card__top .slider-wrapper .slider::-webkit-slider-thumb:active {
  -webkit-box-shadow: 0px 15px 25px -8px #10d5c2;
  box-shadow: 0px 15px 25px -8px #10d5c2;
}

.card__top .slider-wrapper .slider::-moz-range-thumb:hover, .card__top .slider-wrapper .slider::-moz-range-thumb:active {
  box-shadow: 0px 15px 25px -8px #10d5c2;
}

.card__top .slider-wrapper .slider::-webkit-slider-thumb:hover {
  background-color: #7aeade;
  cursor: -webkit-grab;
}

.card__top .slider-wrapper .slider::-moz-range-thumb:hover {
  background-color: #7aeade;
  cursor: -moz-grab;
}

.card__top .slider-wrapper .slider::-webkit-slider-thumb:active {
  background-color: #0ca697;
  cursor: -webkit-grabbing;
}

.card__top .slider-wrapper .slider::-moz-range-thumb:active {
  background-color: #0ca697;
  cursor: -moz-grabbing;
}

.card__top .toggle-wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto 50px;
  position: relative;
  width: 70%;
}

.card__top .toggle-wrapper .toggle-label {
  font-size: 0.8rem;
  letter-spacing: 0.5px;
}

.card__top .toggle-wrapper label {
  height: 20px;
  margin: 0 1.2rem;
  position: relative;
  width: 45px;
}

.card__top .toggle-wrapper label input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  bottom: 0;
  display: block;
  height: 100%;
  left: 0;
  margin: 0;
  max-width: 100%;
  outline: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.card__top .toggle-wrapper label span {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #cdd7ee;
  border-radius: 12px;
  bottom: 0;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.card__top .toggle-wrapper label span:before {
  background-color: white;
  border-radius: 50%;
  content: "";
  cursor: pointer;
  height: 14px;
  left: 0.25rem;
  position: absolute;
  top: 3px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  width: 14px;
}

.card__top .toggle-wrapper label span:hover {
  background: #a5f3eb;
}

.card__top .toggle-wrapper label input:checked + span:before {
  left: calc(100% - 14px - 0.25rem);
}

.card__top .toggle-wrapper .discount {
  display: none;
  background-color: #feece7;
  border-radius: 8px;
  color: #ff8c66;
  font-size: 0.65rem;
  padding: 4px 6px;
  position: absolute;
  right: -50px;
}

.card__top .toggle-wrapper .discount.show {
  display: block;
}

.card__bottom {
  border-top: 1px solid #eaeefb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 50px;
}

.card__bottom .perks,
.card__bottom .ctaBtn-wrapper {
  width: 50%;
}

.card__bottom .perks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 0.8rem;
  height: 90px;
  letter-spacing: 0.5px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.card__bottom .perks .perk {
  position: relative;
  padding-left: 20px;
}

.card__bottom .perks .perk:before {
  background: #a5f3eb;
  background: url("/images/icon-check.svg") no-repeat;
  content: "";
  height: 15px;
  left: 0;
  position: absolute;
  top: 2px;
  width: 15px;
}

.card__bottom .ctaBtn-wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.card__bottom .ctaBtn-wrapper .btn {
  background: #293356;
  border-radius: 22px;
  color: #bdccff;
  cursor: pointer;
  font-size: 0.85rem;
  padding: 15px 45px;
  text-align: center;
}

.card__bottom .ctaBtn-wrapper .btn:hover {
  color: white;
}
/*# sourceMappingURL=main.css.map */